.ant-layout-header {
  background: #fff;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  left: 200px;
  transition: left 0.2s;
}

.trigger_btn {
  font-size: 20px;
}
